@model Brand
@{
    ViewBag.Title = "Create";
}

<h2>Yarat</h2>

<div class="row">
    <div class="col-lg-7">
        <form method="post" action="@Url.Action("create")">
            <div class="form-group">
                @Html.LabelFor(Model => Model.Name)
                <input type="text" class="form-control" name="Name" id="Name" data-validation="required length" data-validation-length = "min5" data-validation-error-msg="Ad boş ola bilməz və mininum 5 simvol olmalıdır" />
                @Html.ValidationMessageFor(Model=>Model.Name,"",new {@class="text-danger"})
            </div>
                    
            <button class="btn btn-outline-primary" type="submit">Yarat</button>
        </form>
    </div>
</div>

